<div class='main'>
  <div class='title'>
    <h2>Create New Member</h2>
  </div>
  <% if @member.errors.any? %>
    <div id="error_explanation" class='validation'>
      <h5>
        <%= pluralize(@member.errors.count, "error") %>
        prohibited this member from being saved:
      </h5>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@member) do |f| %>
    <label>First Name</label><br>
    <%= f.text_field :first_name, placeholder: "Tony", autofocus: true, :required => 'required'%><br>
    <br>

    <label>Last Name</label><br>
    <%= f.text_field :last_name, placeholder: "Stark", autofocus: true, :required => 'required'%><br>
    <br>

    <label>Email</label><br>
    <%= f.email_field :email, placeholder: "example@example.com", autofocus: true, :required => 'required'%><br>
    <br>

    <label>Phone</label><br>
    <%= f.telephone_field :phone, placeholder: "0412356789", autofocus: true, :required => 'required'%><br>
    <br>

    <%= f.submit "CREATE"%>
  <% end %>
  <%= button_to "DISCARD", members_path, method: "get" %>
</div>